{% comment %} <div class="row">
  <div class="col-md-3 col-sm-2"></div>
  <div class="col-md-6 col-sm-8 col-xs-12">
    <div class="login-screen">
      <p class="text-center">
        {{ title }}
      </p>
      <div class="alert alert-danger" *ngIf="patientExists">
        <p>
          {{ invalidLoginMessage }} 
        </p>
      <div class="form-group">
        <label class="control-label" for="patientId">Patient ID:</label>
        <input type="text" class="form-control" id="patientId" [(ngModel)]="patientId">
      </div>
      <div style="text-align:left;">
        <button class="btn btn-primary" [disabled]="!patientId" (click)="logIn()">Log In &gt;&gt;</button>
        <!-- open modal window -->
        <button type="button" class="btn btn-primary" (click)="openModal()">Register</button>
        <div class="backdrop" [ngStyle]="{'display': display}"></div>
        <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display': display}">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()">
                  <span aria-hidden="true">
                    &times;
                  </span>
                </button>
                <h4 class="modal-title">New Patient Registration</h4>
              </div>
              <div class="modal-body">
                <div class="form-group">
                  <label class="control-label" for="firstName">First Name:</label>
                  <input type="text" class="form-control" id="firstName" [(ngModel)]="firstName">
                </div>
                <div class="form-group">
                  <label class="control-label" for="lastName">Last Name:</label>
                  <input type="text" class="form-control" id="lastName" [(ngModel)]="lastName">
                </div>
                <div class="form-check-inline">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-label" name="optradio" [(ngModel)]="gender">Male
                  </label>
                </div>
                <div class="form-check-inline">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-label" name="optradio" [(ngModel)]="gender">Female
                  </label>
                </div>
                <div class="form-check-inline">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-label" name="optradio" [(ngModel)]="gender">Other
                  </label>
                </div>
                <div class="form-group">
                  <label class="control-label" for="dateOfBirth">Date of Birth</label>
                    <div class="controls">
                      <input type="date" [(ngModel)]="dateOfBirth" class="input-xlarge" [ngModelOptions]="{standalone: true}" name="dateOfBirth" />
                    </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="onCloseHandled()">Close</button>
                <button type="button" class="btn btn-default" (click)="registerNewPatient()">Register</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> {% endcomment %}

   <section class="loginform cf">  
<form name="login" action="index_submit" method="get" accept-charset="utf-8">  
    <ul>  
        <li><label for="usermail">Email</label>  
        <input type="email" name="usermail" placeholder="yourname@email.com" required></li>  
        <li><label for="password">Password</label>  
        <input type="password" name="password" placeholder="password" required></li>  
        <li>  
        <input type="submit" value="Login"></li>  
    </ul>  
</form>  
</section>