<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<div class="inner-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-sm-offset-4">
        <form role="form">
          <h2 class="text-center">Patient Selection</h2>
          
          <label class="control-label" for="patientId">Patient Name</label>
          <div class="form-inline">
            <select class="form-control" id="patientId" [(ngModel)]="patientId" name="patientId" required style="width: 300px">
              <option *ngFor="let patient of allPatients" value={{patient.id}}>
                {{patient.lastName}}, {{patient.firstName}}
              </option>
            </select>
            <input type="checkbox" title="Toggle to manually enter Patient ID" [checked]="searchManualId" (change)="searchManualId = !searchManualId" />
          </div>

          <div class="form-group" [hidden]="!searchManualId">
            <label class="control-label" for="patientId">Input Patient ID</label>
            <input type="text" class="form-control" id="patientId" required pattern="[0-9]+"
              [(ngModel)]="patientId" name="patientId" placeholder="Enter Patient ID Number">
          </div>
          <hr />
          <button type="button" class="btn btn-default" (click)="logIn()">Log In</button>
          <button type="button" class="btn btn-default" (click)="staticModal.show()" data-target="#bs-modal">Register</button>
            <div class="alert alert-danger"
                *ngIf="loginMessage !== null">
              <p>
                {{loginMessage}}
              </p>
            </div>

          <div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}"
              tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
            <div class="modal-dialog modal-sm">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 id="dialog-static-name" class="modal-title pull-left">New Patient Registration</h4>
                  <button type="button" class="close pull-right" aria-label="Close" (click)="staticModal.hide()">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="form-group">
                    <label class="control-label" for="firstName">First Name</label>
                    <input type="text" id="firstName" class="form-control" name="firstName" [(ngModel)]="firstName">
                  </div>
                  <div class="form-group">
                    <label class="control-label" for="lastName">Last Name</label>
                    <input type="text" id="lastName" class="form-control" name="lastName" [(ngModel)]="lastName">
                  </div>
                  <div class="radio">
                    <label class="radio-inline"><input type="radio" name="gender" value="Male" (click)="setGender('Male')" [checked]='true' ngModel>Male</label>
                    <label class="radio-inline"><input type="radio" name="gender" value="Female" (click)="setGender('Female')" [checked]='true' ngModel>Female</label>
                    <label class="radio-inline"><input type="radio" name="gender" value="Other" (click)="setGender('Other')" [checked]='true' ngModel>Other</label>
                  </div>
                  <div class="form-group">
                    <label class="control-label" for="dateOfBirth">Date of Birth</label>
                      <div class="controls">
                        <input type="date" name="dateOfBirth" [(ngModel)]="dateOfBirth" class="input-xlarge" [ngModelOptions]="{standalone: true}" />
                      </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" [disabled]="!(firstName && lastName && gender && dateOfBirth)" (click)="registerNewPatient()">Register</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
