<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <div class = "navbar-header">
        <a class = "navbar-brand">Patient Dashboard for {{patient?.firstName}}</a>
        </div>
    </div>
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li><a (click)="createSession.show()">New Session</a></li>
            <li><a (click)="logOut()">Log out</a></li>
        </ul>
    </div>
</nav>
<div *ngIf="isPatientLoggedIn() && patientHistoryList?.length > 0">
  <div *ngIf="patient?.finalDiagnosis == 'M'">
    <font color="red">Final Diagnosis Made: Malignant</font>
  </div>
  <div *ngIf="patient?.finalDiagnosis == 'B'">
    <font color="red">Final Diagnosis Made: Benign</font>
  </div>
  <table class="table table-hover">
    <th>Time of Measurement</th>
    <th>Model Name</th>
    <th>Model Accuracy></th>
    <th>Predicted Diagnosis</th>
    <th>Comments</th>
      <tr *ngFor="let patientHistory of patientHistoryList | slice:pageStart:pageEnd">
        <td>{{ patientHistory.dateOfMeasurement }}</td>
        <td>{{ patientHistory?.model?.modelName }}</td>
        <td>{{ patientHistory?.model?.cvAccuracy }}</td>
        <td *ngIf="patientHistory.predictedDiagnosis == 'M'">Malignant</td>
        <td *ngIf="patientHistory.predictedDiagnosis == 'B'">Benign</td>
        <td style="word-wrap: break-word">{{ patientHistory.comments }}</td>
      </tr>
  </table>
  <button type="button" class="btn btn-default" (click)="makeFinalDiagnosis.show()" style="float: right;" [disabled]="patient.finalDiagnosis !== null">Final Diagnosis</button>
</div>
<div *ngIf="!isPatientLoggedIn()">
  Return to Login, No user Found: <button type="button" class="btn btn-default" (click)="logOut()">Return</button>
</div>
<div class="modal fade" bsModal #createSession="bs-modal" [config]="{backdrop: 'static'}"
    tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-static-name" class="modal-title pull-left">New Measurement Session</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="createSession.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label class="control-label" for="radiusMean">Radius Mean</label>
          <input appOnlyNumber="true" type="text" id="radiusMean" class="form-control" name="data" [(ngModel)]="data && data.radiusMean">
        </div>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label class="control-label" for="textureMean">Texture Mean</label>
          <input appOnlyNumber="true" type="text" id="textureMean" class="form-control" name="textureMean" [(ngModel)]="data && data.textureMean">
        </div>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label class="control-label" for="perimeterMean">Perimeter Mean</label>
          <input appOnlyNumber="true" type="text" id="perimeterMean" class="form-control" name="perimeterMean" [(ngModel)]="data && data.perimeterMean">
        </div>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label class="control-label" for="areaMean">Area Mean</label>
          <input appOnlyNumber="true" type="text" id="areaMean" class="form-control" name="areaMean" [(ngModel)]="data && data.areaMean">
        </div>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label class="control-label" for="smoothnessMean">Smoothness Mean</label>
          <input appOnlyNumber="true" type="text" id="smoothnessMean" class="form-control" name="smoothnessMean" [(ngModel)]="data && data.smoothnessMean">
        </div>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label class="control-label" for="compactnessMean">Compactness Mean</label>
          <input appOnlyNumber="true" type="text" id="compactnessMean" class="form-control" name="compactnessMean" [(ngModel)]="data && data.compactnessMean">
        </div>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label class="control-label" for="concavityMean">Concavity Mean</label>
          <input appOnlyNumber="true" type="text" id="concavityMean" class="form-control" name="concavityMean" [(ngModel)]="data && data.concavityMean">
        </div>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label class="control-label" for="concavePointsMean">Concave Points Mean</label>
          <input appOnlyNumber="true" type="text" id="concavePointsMean" class="form-control" name="concavePointsMean" [(ngModel)]="data && data.concavePointsMean">
        </div>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label class="control-label" for="symmetryMean">Symmetry Mean</label>
          <input appOnlyNumber="true" type="text" id="symmetryMean" class="form-control" name="symmetryMean" [(ngModel)]="data && data.symmetryMean">
        </div>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label class="control-label" for="fractalDimensionMean">Fractal Dimension Mean</label>
          <input appOnlyNumber="true" type="text" id="fractalDimensionMean" class="form-control" name="fractalDimensionMean" [(ngModel)]="data && data.fractalDimensionMean">
        </div>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label class="control-label" for="radiusSe">Radius SE</label>
          <input appOnlyNumber="true" type="text" id="radiusSe" class="form-control" name="radiusSe" [(ngModel)]="data && data.radiusSe">
        </div>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label class="control-label" for="textureSe">Texture SE</label>
          <input appOnlyNumber="true" type="text" id="textureSe" class="form-control" name="textureSe" [(ngModel)]="data && data.textureSe">
        </div>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label class="control-label" for="perimeterSe">Perimeter SE</label>
          <input appOnlyNumber="true" type="text" id="perimeterSe" class="form-control" name="perimeterSe" [(ngModel)]="data && data.perimeterSe">
        </div>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label class="control-label" for="areaSe">Area SE</label>
          <input appOnlyNumber="true" type="text" id="areaSe" class="form-control" name="areaSe" [(ngModel)]="data && data.areaSe">
        </div>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label class="control-label" for="smoothnessSe">Smoothness SE</label>
          <input appOnlyNumber="true" type="text" id="smoothnessSe" class="form-control" name="smoothnessSe" [(ngModel)]="data && data.smoothnessSe">
        </div>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label class="control-label" for="compactnessSe">Compactness SE</label>
          <input appOnlyNumber="true" type="text" id="compactnessSe" class="form-control" name="compactnessSe" [(ngModel)]="data && data.compactnessSe">
        </div>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label class="control-label" for="concavitySe">Concavity SE</label>
          <input appOnlyNumber="true" type="text" id="concavitySe" class="form-control" name="concavitySe" [(ngModel)]="data && data.concavitySe">
        </div>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label class="control-label" for="concavePointsSe">Concave Points SE</label>
          <input appOnlyNumber="true" type="text" id="concavePointsSe" class="form-control" name="concavePointsSe" [(ngModel)]="data && data.concavePointsSe">
        </div>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label class="control-label" for="symmetrySe">Symmetry SE</label>
          <input appOnlyNumber="true" type="text" id="symmetrySe" class="form-control" name="symmetrySe" [(ngModel)]="data && data.symmetrySe">
        </div>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label class="control-label" for="fractalDimensionSe">Fractal Dimension SE</label>
          <input appOnlyNumber="true" type="text" id="fractalDimensionSe" class="form-control" name="fractalDimensionSe" [(ngModel)]="data && data.fractalDimensionSe">
        </div>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label class="control-label" for="radiusWorst">Radius Worst</label>
          <input appOnlyNumber="true" type="text" id="radiusWorst" class="form-control" name="radiusWorst" [(ngModel)]="data && data.radiusWorst">
        </div>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label class="control-label" for="textureWorst">Texture Worst</label>
          <input appOnlyNumber="true" type="text" id="textureWorst" class="form-control" name="textureWorst" [(ngModel)]="data && data.textureWorst">
        </div>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label class="control-label" for="perimeterWorst">Perimeter Worst</label>
          <input appOnlyNumber="true" type="text" id="perimeterWorst" class="form-control" name="perimeterWorst" [(ngModel)]="data && data.perimeterWorst">
        </div>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label class="control-label" for="areaWorst">Area Worst</label>
          <input appOnlyNumber="true" type="text" id="areaWorst" class="form-control" name="areaWorst" [(ngModel)]="data && data.areaWorst">
        </div>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label class="control-label" for="areaWorst">Smoothness Worst</label>
          <input appOnlyNumber="true" type="text" id="smoothnessWorst" class="form-control" name="smoothnessWorst" [(ngModel)]="data && data.smoothnessWorst">
        </div>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label class="control-label" for="compactnessWorst">Compactness Worst</label>
          <input appOnlyNumber="true" type="text" id="compactnessWorst" class="form-control" name="compactnessWorst" [(ngModel)]="data && data.compactnessWorst">
        </div>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label class="control-label" for="concavityWorst">Concavity Worst</label>
          <input appOnlyNumber="true" type="text" id="concavityWorst" class="form-control" name="concavityWorst" [(ngModel)]="data && data.concavityWorst">
        </div>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label class="control-label" for="concavePointsWorst">Concave Points Worst</label>
          <input appOnlyNumber="true" type="text" id="concavePointsWorst" class="form-control" name="concavePointsWorst" [(ngModel)]="data && data.concavePointsWorst">
        </div>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label class="control-label" for="symmetryWorst">Symmetry Worst</label>
          <input appOnlyNumber="true" type="text" id="symmetryWorst" class="form-control" name="symmetryWorst" [(ngModel)]="data && data.symmetryWorst">
        </div>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label class="control-label" for="fractalDimensionWorst">Fractal Dimension Worst</label>
          <input appOnlyNumber="true" type="text" id="fractalDimensionWorst" class="form-control" name="fractalDimensionWorst" [(ngModel)]="data && data.fractalDimensionWorst">
        </div>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="comments">Comments <i>(Max length: 100 characters)</i></label>
          <textarea class="form-control" id="comments" rows="3" maxlength="100" name="comments" [(ngModel)]="comments"></textarea>
        </div>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="modelId">Model</label>
          <select class="form-control" [(ngModel)]="chosenModel" name="modelId" required style="width: 300px">
            <option *ngFor="let model of models" [ngValue]="model">
              <div *ngIf="model.cvAccuracy">
                Name: {{model.modelName}} -- Accuracy: {{model.cvAccuracy}}
              </div>
              <div *ngIf="!model.cvAccuracy">
                Name: {{model.modelName}}
              </div>
            </option>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="newSession()" (click)="createSession.hide()">Submit</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" bsModal #makeFinalDiagnosis="bs-modal" [config]="{backdrop: 'static'}"
  tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
<div class="modal-dialog modal-sm">
  <div class="modal-content">
    <div class="modal-header">
      <h4 id="dialog-static-name" class="modal-title pull-left">Final Diagnosis</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="makeFinalDiagnosis.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="radio">
        <label class="radio-inline"><input type="radio" name="finalDiagnosis" value="Benign" (click)="setTempFinalDiagnosis('B')" [checked]='true' ngModel>Benign</label>
        <label class="radio-inline"><input type="radio" name="finalDiagnosis" value="Malignant" (click)="setTempFinalDiagnosis('M')" [checked]='true' ngModel>Malignant</label>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" (click)="makeFinalDiagnosis.hide()">Back</button>
      <button type="button" class="btn btn-default" (click)="submitFinalDiagnosis()" (click)="makeFinalDiagnosis.hide()" [disabled]="!tempFinalDiagnosis">Submit</button>
    </div>
  </div>
</div>
